<div class="container" id="schedule">
  <div class="row">
    <div class="col text-center">
      <h3 class="text-center">Schedule </h3>
    </div>
  </div>

  <div>
    <iframe src="https://m.supersaas.com/schedule/Gymotion_Studio/Clase_de_grup" width="100%" height="800"> </iframe>
  </div>
</div>
